body {
  padding: 0;
  margin: 0 auto; }
  body .wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%; }
  body p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    margin: 25px 0;
    color: #797979; }
  body h1 {
    font-size: 25px;
    font-weight: 700;
    font-family: "Oswald", sans-serif; }
    @media (min-width: 768px) {
      body h1 {
        font-size: 35px; } }
    @media (min-width: 992px) {
      body h1 {
        font-size: 45px; } }
    @media (min-width: 992px) {
      body h1 {
        font-size: 55px; } }
    @media (min-width: 1440px) {
      body h1 {
        font-size: 65px; } }
  body h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  body h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }

header {
  background-color: #b8b8b9;
  opacity: 0.95;
  width: 100%;
  z-index: 100;
  position: fixed; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header .head-fix {
    height: 100px;
    position: relative; }
    header .head-fix .logo {
      float: left;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
    header .head-fix nav {
      float: right;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%); }
      header .head-fix nav:before, header .head-fix nav:after {
        content: "";
        display: table; }
      header .head-fix nav:after {
        clear: both; }
      header .head-fix nav ul {
        float: right; }
        header .head-fix nav ul li {
          cursor: pointer;
          float: left;
          padding: 0 10px;
          margin: 0 12px;
          list-style-type: square;
          color: #ffe600;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          font-family: "Oswald", sans-serif; }
          header .head-fix nav ul li a {
            color: #fff; }
          header .head-fix nav ul li a:hover {
            color: #ffe600; }
          header .head-fix nav ul li a.active {
            color: #ffe600; }
        header .head-fix nav ul li:first-child {
          list-style-type: none; }

.slider {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .slider:before, .slider:after {
    content: "";
    display: table; }
  .slider:after {
    clear: both; }
  .slider .slider-model {
    width: 100%;
    height: 100%; }
    .slider .slider-model ul {
      margin: 0;
      padding: 0;
      width: 500%;
      height: 100%;
      transition: 0.3s;
      left: 0;
      position: relative; }
      .slider .slider-model ul li {
        float: left;
        list-style-type: none;
        width: 20%;
        height: 100%;
        transition: 0.3s;
        position: relative; }
        .slider .slider-model ul li .panel-slider {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          padding: 0 40px 30px 40px;
          background-color: rgba(184, 184, 185, 0.7);
          text-align: center;
          width: 100%;
          color: #fff; }
          @media (min-width: 768px) {
            .slider .slider-model ul li .panel-slider {
              padding: 0 60px 30px 60px; } }
          @media (min-width: 992px) {
            .slider .slider-model ul li .panel-slider {
              padding: 0 100px 30px 100px; } }
          @media (min-width: 992px) {
            .slider .slider-model ul li .panel-slider {
              padding: 0 200px 30px 200px; } }
          @media (min-width: 1440px) {
            .slider .slider-model ul li .panel-slider {
              padding: 0 270px 30px 270px; } }
          .slider .slider-model ul li .panel-slider button {
            outline: none;
            background: #ffe600;
            text-transform: uppercase;
            border: 0;
            height: 60px;
            width: 233px;
            opacity: 2;
            color: #131316;
            font-size: 20px;
            font-weight: 700;
            font-family: "Oswald", sans-serif; }
          .slider .slider-model ul li .panel-slider button:hover {
            background: #fff;
            color: #ffe600;
            transition: 0.3s; }
  .slider .panel-slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%; }
    .slider .panel-slider-controls .wrapper {
      height: 100%; }
      .slider .panel-slider-controls .wrapper .slider-controls {
        height: 100%;
        position: relative; }
        .slider .panel-slider-controls .wrapper .slider-controls:before, .slider .panel-slider-controls .wrapper .slider-controls:after {
          content: "";
          display: table; }
        .slider .panel-slider-controls .wrapper .slider-controls:after {
          clear: both; }
        .slider .panel-slider-controls .wrapper .slider-controls .left {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          padding: 15px;
          color: #fff;
          font-size: 25px;
          z-index: 10; }
          @media (min-width: 768px) {
            .slider .panel-slider-controls .wrapper .slider-controls .left {
              padding: 50px 0px 50px 50px; } }
          @media (min-width: 992px) {
            .slider .panel-slider-controls .wrapper .slider-controls .left {
              padding: 100px 0px 100px 100px; } }
        .slider .panel-slider-controls .wrapper .slider-controls .right {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          padding: 15px;
          color: #fff;
          font-size: 25px;
          z-index: 10; }
          @media (min-width: 768px) {
            .slider .panel-slider-controls .wrapper .slider-controls .right {
              padding: 50px 50px 50px 0px; } }
          @media (min-width: 992px) {
            .slider .panel-slider-controls .wrapper .slider-controls .right {
              padding: 60px; } }

.services {
  padding: 45px 0;
  text-align: center; }
  .services .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block; }
  .services .service {
    text-align: center;
    padding-top: 45px; }
    .services .service .circe-icon {
      width: 106px;
      height: 106px;
      background: #ffe600;
      border-radius: 50%;
      display: inline-block;
      position: relative; }
      .services .service .circe-icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s; }
      .services .service .circe-icon img:hover {
        top: 32%;
        left: 31%;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

.services2 {
  padding: 45px 0;
  background: #131a1d;
  text-align: center; }
  .services2 h2 {
    color: #ffe600; }
  .services2 h3 {
    color: #fff; }
  .services2 p {
    color: #fff; }
  .services2 .circe-icon {
    padding-top: 45px; }
    .services2 .circe-icon img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.3s; }

.portfolio {
  padding-top: 45px;
  text-align: center; }
  .portfolio .wrapper {
    max-width: 1170px;
    margin: 0 auto; }
    .portfolio .wrapper .line {
      width: 170px;
      height: 3px;
      background: #ffe600;
      display: inline-block; }
    .portfolio .wrapper .navigation-work-panel {
      text-align: center;
      padding: 5px 0 30px 0; }
      .portfolio .wrapper .navigation-work-panel:before, .portfolio .wrapper .navigation-work-panel:after {
        content: "";
        display: table; }
      .portfolio .wrapper .navigation-work-panel:after {
        clear: both; }
      @media (min-width: 576px) {
        .portfolio .wrapper .navigation-work-panel {
          padding: 40px 0 60px 0; } }
      .portfolio .wrapper .navigation-work-panel ul {
        margin: 0;
        padding: 0;
        display: inline-block; }
        .portfolio .wrapper .navigation-work-panel ul li {
          cursor: pointer;
          padding: 0 5px;
          margin: 0 12px;
          list-style-type: square;
          color: #ffe600;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          font-family: "Oswald", sans-serif; }
          @media (min-width: 576px) {
            .portfolio .wrapper .navigation-work-panel ul li {
              float: left; } }
          @media (min-width: 768px) {
            .portfolio .wrapper .navigation-work-panel ul li {
              padding: 0 10px; } }
          .portfolio .wrapper .navigation-work-panel ul li a {
            color: #515151; }
          .portfolio .wrapper .navigation-work-panel ul li a:hover {
            color: #ffe600; }
          .portfolio .wrapper .navigation-work-panel ul li .active {
            color: #ffe600; }
        @media (min-width: 576px) {
          .portfolio .wrapper .navigation-work-panel ul li:first-child {
            list-style-type: none; } }
    .portfolio .wrapper .like-portfolio {
      padding: 45px 0 73px 0; }
      .portfolio .wrapper .like-portfolio button {
        background: #ffe600;
        border: 0;
        color: #fff;
        outline: none; }
      .portfolio .wrapper .like-portfolio .down {
        width: 60px;
        height: 60px;
        font-size: 25px;
        margin-bottom: 45px; }
      .portfolio .wrapper .like-portfolio .contact {
        width: 170px;
        height: 60px;
        font-size: 15px;
        font-weight: 700;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        margin-top: 45px;
        padding: 0; }
  .portfolio .works {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    list-style-type: none;
    display: inline-block; }
    .portfolio .works .work {
      width: 100%;
      float: left;
      height: 250px;
      position: relative;
      box-sizing: content-box;
      display: block;
      margin: 0;
      padding: 0; }
      @media (min-width: 576px) {
        .portfolio .works .work {
          width: 50%; } }
      @media (min-width: 768px) {
        .portfolio .works .work {
          width: 33.3%;
          height: 208px; } }
      @media (min-width: 992px) {
        .portfolio .works .work {
          width: 25%; } }
      @media (min-width: 1280px) {
        .portfolio .works .work {
          width: 20%; } }
      @media (min-width: 1440px) {
        .portfolio .works .work {
          width: 16.66%; } }
      .portfolio .works .work .img {
        width: 100%;
        height: 100%;
        background-size: cover; }
      .portfolio .works .work .img1 {
        background-image: url("img/work1.jpg"); }
      .portfolio .works .work .img2 {
        background-image: url("img/work2.jpg"); }
      .portfolio .works .work .img3 {
        background-image: url("img/work3.jpg"); }
      .portfolio .works .work .img4 {
        background-image: url("img/work4.jpg"); }
      .portfolio .works .work .img5 {
        background-image: url("img/work5.jpg"); }
      .portfolio .works .work .img6 {
        background-image: url("img/work6.jpg"); }
      .portfolio .works .work .img-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(255, 230, 0, 0.4);
        width: 100%;
        height: 100%; }
        .portfolio .works .work .img-hover .title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .portfolio .works .work .img-hover .title h4 {
            font-size: 25px;
            font-weight: 700;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            margin: 10px;
            white-space: nowrap; }
          .portfolio .works .work .img-hover .title p {
            margin: 5px; }
    .portfolio .works .work:hover .img-hover {
      display: block;
      transition: 0.5s; }
  .portfolio .proud-number {
    background-color: #131a1d;
    padding: 40px 0; }
    .portfolio .proud-number .wrapper {
      max-width: 1170px;
      margin: 0 auto;
      text-align: center; }
      .portfolio .proud-number .wrapper h2 {
        color: #fff; }
      .portfolio .proud-number .wrapper p {
        color: #fff; }
      .portfolio .proud-number .wrapper .numbers {
        border: 1px solid #ffe600;
        padding: 20px 0;
        margin: 10px 0 10px 0; }
        @media (min-width: 576px) {
          .portfolio .proud-number .wrapper .numbers {
            margin: 20px 0 20px 0; } }
        @media (min-width: 768px) {
          .portfolio .proud-number .wrapper .numbers {
            margin: 40px 0 25px 0; } }
        .portfolio .proud-number .wrapper .numbers h2 {
          color: #fff;
          margin: 15px 0; }
        .portfolio .proud-number .wrapper .numbers h3 {
          color: #ffe600; }

.about {
  margin-top: 45px;
  text-align: center; }
  .about .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block; }
  .about .service {
    text-align: left; }
    .about .service .service-part {
      margin-top: 45px; }
      .about .service .service-part .circle {
        background: #ffe600;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 16px;
        position: relative; }
        .about .service .service-part .circle img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .about .service .service-part .circle img:hover {
          top: 27.5%;
          left: 27.5%;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          transition: 0.3s; }
      .about .service .service-part p {
        margin: 0; }
  .about .team {
    margin-top: 60px;
    padding: 40px 0 65px 0;
    background: #fbfbfb; }
    .about .team .img {
      width: 100%;
      height: 250px;
      background-image: url("img/team.jpg");
      background-size: cover; }
    .about .team .title {
      background: #fff;
      border-bottom: 1px solid #e1e6e6;
      height: 80px; }
      .about .team .title h4 {
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding-top: 8px;
        color: #ffe600; }
      .about .team .title p {
        margin: 5px 0;
        color: #797979; }

.skills {
  background: #131a1d;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  position: relative; }
  .skills .container {
    width: 100%;
    margin-top: 35px;
    text-align: center;
    position: relative; }
    .skills .container .box {
      width: 100%;
      position: relative; }
      .skills .container .box h2 {
        color: #ffe600;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-top: 25px; }
      .skills .container .box .chart {
        width: 145px;
        height: 145px;
        text-align: center;
        font-size: 35px;
        font-family: "Oswald", sans-serif;
        line-height: 145px;
        color: #ffe600;
        margin: auto; }
      .skills .container .box canvas {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); }

.clients {
  padding-top: 45px;
  text-align: center;
  position: relative; }
  .clients .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block; }
  .clients .logo-set {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px; }
    .clients .logo-set ul {
      margin: 0;
      padding: 65px 0;
      width: 183.334%;
      position: relative;
      transition: all 0.3s ease 0s;
      left: 0; }
      .clients .logo-set ul:before, .clients .logo-set ul:after {
        content: "";
        display: table; }
      .clients .logo-set ul:after {
        clear: both; }
      .clients .logo-set ul li {
        float: left;
        list-style-type: none;
        width: 9.0901%;
        transition: 0.3s; }
    .clients .logo-set .slider-control {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0; }
      .clients .logo-set .slider-control .left {
        background: #ffe600;
        border: 0;
        width: 31px;
        height: 31px;
        margin-right: 15px;
        color: #fff;
        cursor: pointer;
        outline: none; }
      .clients .logo-set .slider-control .right {
        outline: none;
        background: #ffe600;
        border: 0;
        width: 31px;
        height: 31px;
        margin-left: 15px;
        color: #fff;
        cursor: pointer; }
  .clients .quote {
    background: #12191c;
    color: #fff; }
    .clients .quote .slider-model {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 50px 0 70px 0; }
      .clients .quote .slider-model ul {
        list-style-type: none;
        float: left;
        height: 100%;
        width: 500%;
        padding: 0;
        margin: 0;
        position: relative;
        left: 0;
        transition: 0.3s; }
        .clients .quote .slider-model ul li {
          width: 20%;
          height: 100%;
          float: left;
          transition: 0.3s; }
          .clients .quote .slider-model ul li h4 {
            font-weight: 500;
            font-family: "Oswald", sans-serif; }
          .clients .quote .slider-model ul li .line {
            background: #ffe600;
            width: 170px;
            height: 2px; }
      .clients .quote .slider-model .slider-controls {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, 0); }
        .clients .quote .slider-model .slider-controls .pointer {
          width: 5px;
          height: 5px;
          background: #fff;
          float: left;
          cursor: pointer;
          transition: 0.3s;
          margin: 2px 2px; }
        .clients .quote .slider-model .slider-controls .active {
          background: #ffe600; }

.contact {
  padding-top: 45px;
  text-align: center; }
  .contact .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block; }
  .contact .info {
    margin: 40px 0; }
    .contact .info h3 {
      font-size: 20px; }
    .contact .info p {
      font-size: 20px; }
    .contact .info img:hover {
      transform: scale(1.1); }
  .contact .message {
    padding: 45px;
    background: #131a1d;
    color: #fff; }
    .contact .message p {
      color: #fff; }
    .contact .message input {
      width: 100%;
      height: 60px;
      background: transparent;
      padding: 20px;
      margin: 15px 0;
      border: 1px solid #fff;
      color: #fff; }
    .contact .message textarea {
      background: transparent;
      width: 100%;
      height: 220px;
      padding: 20px;
      margin: 15px 0;
      border: 1px solid #fff;
      font-family: "Oswald", sans-serif;
      font-size: 15px;
      color: #fff; }
    .contact .message input[type="button"] {
      background: #ffcf00;
      color: #161f32;
      margin: 15px 0;
      height: 58px;
      width: 204px;
      border: 0;
      font-size: 15px;
      font-weight: 700;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
    .contact .message input[type="button"]:hover {
      background: #fff;
      color: #ffcf00; }

footer {
  text-align: center;
  background: #131316; }
  footer p {
    color: #fff; }
    footer p span {
      color: #ffe600; }
  footer .social-network {
    margin-bottom: 34px; }
    footer .social-network i {
      color: #fff;
      margin: 0 10px; }
    footer .social-network i:hover {
      color: #ffe600; }
  footer .top {
    border: 0;
    background: #ffe600;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer; }
    footer .top i {
      color: #fff;
      font-size: 25px; }
  footer .top:hover {
    background: #fff; }
    footer .top:hover i {
      color: #ffe600; }
