@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1440px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
  padding: 0;
  margin: 0 auto;
  .wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    margin: 25px 0;
    color: #797979;
  }
  h1 {
    font-size: 25px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    @include breakpoint(md) {
      font-size: 35px;
    }
    @include breakpoint(lg) {
      font-size: 45px;
    }
    @include breakpoint(lg) {
      font-size: 55px;
    }
    @include breakpoint(xxl) {
      font-size: 65px;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Header
header {
  @include clearfix();
  background-color: #b8b8b9;
  opacity: 0.95;
  width: 100%;
  z-index: 100;
  position: fixed;
  .head-fix {
    height: 100px;
    position: relative;
    .logo {
      float: left;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    nav {
      @include clearfix();
      float: right;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      ul {
        float: right;
        li {
          cursor: pointer;
          float: left;
          padding: 0 10px;
          margin: 0 12px;
          list-style-type: square;
          color: #ffe600;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          font-family: "Oswald", sans-serif;
          a {
            color: #fff;
          }
          a:hover {
            color: #ffe600;
          }
          a.active {
            color: #ffe600;
          }
        }
        li:first-child {
          list-style-type: none;
        }
      }
    }
  }
}

.slider {
  @include clearfix();
  height: 100vh;
  overflow: hidden;
  position: relative;
  .slider-model {
    width: 100%;
    height: 100%;
    ul {
      margin: 0;
      padding: 0;
      width: 500%;
      height: 100%;
      transition: 0.3s;
      left: 0;
      position: relative;
      li {
        float: left;
        list-style-type: none;
        width: 20%;
        height: 100%;
        transition: 0.3s;
        position: relative;
        // background-image: url("img/slider1.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        .panel-slider {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          padding: 0 40px 30px 40px;
          background-color: rgba(184, 184, 185, 0.7);
          text-align: center;
          width: 100%;
          color: #fff;
          @include breakpoint(md) {
            padding: 0 60px 30px 60px;
          }
          @include breakpoint(lg) {
            padding: 0 100px 30px 100px;
          }
          @include breakpoint(lg) {
            padding: 0 200px 30px 200px;
          }
          @include breakpoint(xxl) {
            padding: 0 270px 30px 270px;
          }
          button {
            outline: none;
            background: #ffe600;
            text-transform: uppercase;
            border: 0;
            height: 60px;
            width: 233px;
            opacity: 2;
            color: #131316;
            font-size: 20px;
            font-weight: 700;
            font-family: "Oswald", sans-serif;
          }
          button:hover {
            background: #fff;
            color: #ffe600;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .panel-slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    .wrapper {
      height: 100%;
      .slider-controls {
        height: 100%;
        @include clearfix();
        position: relative;
        .left {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          padding: 15px;
          color: #fff;
          font-size: 25px;
          z-index: 10;
          @include breakpoint(md) {
            padding: 50px 0px 50px 50px;
          }
          @include breakpoint(lg) {
            padding: 100px 0px 100px 100px;
          }
        }
        .right {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          padding: 15px;
          color: #fff;
          font-size: 25px;
          z-index: 10;
          @include breakpoint(md) {
            padding: 50px 50px 50px 0px;
          }
          @include breakpoint(lg) {
            padding: 60px;
          }
        }
      }
    }
  }
}

.services {
  padding: 45px 0;
  text-align: center;
  .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block;
  }
  .service {
    text-align: center;
    padding-top: 45px;
    .circe-icon {
      width: 106px;
      height: 106px;
      background: #ffe600;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
      }
      img:hover {
        top: 32%;
        left: 31%;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.services2 {
  padding: 45px 0;
  background: #131a1d;

  text-align: center;
  h2 {
    color: #ffe600;
  }
  h3 {
    color: #fff;
  }
  p {
    color: #fff;
  }
  .circe-icon {
    padding-top: 45px;
    img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
}

.portfolio {
  padding-top: 45px;
  text-align: center;
  .wrapper {
    max-width: 1170px;
    margin: 0 auto;
    .line {
      width: 170px;
      height: 3px;
      background: #ffe600;
      display: inline-block;
    }
    .navigation {
      text-align: center;
      padding: 40px 0 60px 0;
      @include clearfix();
      ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        li {
          cursor: pointer;
          float: left;
          padding: 0 10px;
          margin: 0 12px;
          list-style-type: square;
          color: #ffe600;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          font-family: "Oswald", sans-serif;
          a {
            color: #515151;
          }
          a:hover {
            color: #ffe600;
          }
        }
        li:first-child {
          list-style-type: none;
        }
      }
    }

    .like-portfolio {
      padding: 45px 0 73px 0;
      button {
        background: #ffe600;
        border: 0;
        color: #fff;
        outline: none;
      }
      .down {
        width: 60px;
        height: 60px;
        font-size: 25px;
        margin-bottom: 45px;
      }
      .contact {
        width: 170px;
        height: 60px;
        font-size: 15px;
        font-weight: 700;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        margin-top: 45px;
        padding: 0;
      }
    }
  }
  .proud-number {
    background-color: #131a1d;
    padding: 40px 0;
    .wrapper {
      max-width: 1170px;
      margin: 0 auto;
      text-align: center;
      h2 {
        color: #fff;
      }
      p {
        color: #fff;
      }
      .numbers {
        border: 1px solid #ffe600;
        padding: 20px 0;
        margin: 10px 0 10px 0;
        @include breakpoint(sm) {
          margin: 20px 0 20px 0;
        }
        @include breakpoint(md) {
          margin: 40px 0 25px 0;
        }
        h2 {
          color: #fff;
          margin: 15px 0;
        }
        h3 {
          color: #ffe600;
        }
      }
    }
  }
  .works {
    width: 100%;
    height: 500px;
    display: inline-block;

    .work {
      width: 16.66%;
      float: left;
      height: 50%;
      position: relative;
      .img1 {
        width: 100%;
        height: 100%;
        background-image: url("img/work1.jpg");
        background-size: cover;
      }
      .img2 {
        width: 100%;
        height: 100%;
        background-image: url("img/work2.jpg");
        background-size: cover;
      }

      .img-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(255, 230, 0, 0.4);
        width: 100%;
        height: 100%;
        .title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          h4 {
            font-size: 25px;
            font-weight: 700;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            margin: 10px;
            white-space: nowrap;
          }
          p {
            margin: 5px;
          }
        }
      }
    }
    .work:hover {
      .img-hover {
        display: block;
        transition: 0.5s;
      }
    }
  }
}

.about {
  margin-top: 45px;
  text-align: center;
  .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block;
  }
  .service {
    text-align: left;

    .service-part {
      margin-top: 45px;

      .circle {
        background: #ffe600;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 16px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img:hover {
          top: 27.5%;
          left: 27.5%;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .team {
    margin-top: 60px;
    padding: 40px 0 65px 0;
    background: #fbfbfb;
    .img {
      width: 100%;
      height: 250px;
      background-image: url("img/team.jpg");
      background-size: cover;
    }
    .title {
      background: #fff;
      border-bottom: 1px solid #e1e6e6;
      height: 80px;
      h4 {
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding-top: 8px;
        color: #ffe600;
      }
      p {
        margin: 5px 0;
        color: #797979;
      }
    }
  }
}

.skills {
  background: #131a1d;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  position: relative;
  .container {
    width: 100%;
    margin-top: 35px;
    text-align: center;
    position: relative;
    .box {
      width: 100%;
      position: relative;
      h2 {
        color: #ffe600;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-top: 25px;
      }
      .chart {
        width: 145px;
        height: 145px;
        text-align: center;
        font-size: 35px;
        font-family: "Oswald", sans-serif;
        line-height: 145px;
        color: #ffe600;
        margin: auto;
      }
      canvas {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

.clients {
  padding-top: 45px;
  text-align: center;
  position: relative;
  .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block;
  }
  .logo-set {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    ul {
      margin: 0;
      padding: 65px 0;
      width: 183.334%;
      position: relative;
      transition: all 0.3s ease 0s;
      left: 0;
      @include clearfix();
      li {
        float: left;
        list-style-type: none;
        width: 9.0901%;
        transition: 0.3s;
      }
    }
    .slider-control {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0;

      .left {
        background: #ffe600;
        border: 0;
        width: 31px;
        height: 31px;
        margin-right: 15px;
        color: #fff;
        cursor: pointer;
        outline: none;
      }
      .right {
        outline: none;
        background: #ffe600;
        border: 0;
        width: 31px;
        height: 31px;
        margin-left: 15px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .quote {
    background: hsl(198, 21%, 9%);
    color: #fff;
    .slider-model {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 50px 0 70px 0;
      ul {
        list-style-type: none;
        float: left;
        height: 100%;
        width: 500%;
        padding: 0;
        margin: 0;
        position: relative;
        left: 0;
        transition: 0.3s;
        li {
          width: 20%;
          height: 100%;
          float: left;
          transition: 0.3s;
          h4 {
            font-weight: 500;
            font-family: "Oswald", sans-serif;
          }
          .line {
            background: #ffe600;
            width: 170px;
            height: 2px;
          }
        }
      }
      .slider-controls {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, 0);
        .pointer {
          width: 5px;
          height: 5px;
          background: #fff;
          float: left;
          cursor: pointer;
          transition: 0.3s;
          margin: 2px 2px;
        }
        .active {
          background: #ffe600;
        }
      }
    }
  }
}
.contact {
  padding-top: 45px;
  text-align: center;
  .line {
    width: 170px;
    height: 3px;
    background: #ffe600;
    display: inline-block;
  }
  .info {
    margin: 40px 0;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  .message {
    padding: 45px;
    background: #131a1d;
    color: #fff;
    p {
      color: #fff;
    }
    input {
      width: 100%;
      height: 60px;
      background: transparent;
      padding: 20px;
      margin: 15px 0;
      border: 1px solid #fff;
      color: #fff;
    }
    textarea {
      background: transparent;
      width: 100%;
      height: 220px;
      padding: 20px;
      margin: 15px 0;
      border: 1px solid #fff;
      font-family: "Oswald", sans-serif;
      font-size: 15px;
      color: #fff;
    }
    input[type="button"] {
      background: #ffcf00;
      color: #161f32;
      margin: 15px 0;
      height: 58px;
      width: 204px;
      border: 0;
      font-size: 15px;
      font-weight: 700;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
    }
    input[type="button"]:hover {
      background: #fff;
      color: #ffcf00;
    }
  }
}
footer {
  text-align: center;
  background: #131316;
  p {
    color: #fff;
    span {
      color: #ffe600;
    }
  }
  .social-network {
    margin-bottom: 34px;
    i {
      color: #fff;
      margin: 0 10px;
    }
    i:hover {
      color: #ffe600;
    }
  }

  .top {
    border: 0;
    background: #ffe600;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    i {
      color: #fff;
      font-size: 25px;
    }
  }
  .top:hover {
    background: #fff;
    i {
      color: #ffe600;
    }
  }
}
